html {
    color: #333;
    /*规定主色调,依据业务场景(非必须)*/
    background: #ffffff;
    /*规定主背景,依据业务场景(非必须)*/
    overflow-y: auto;
    /*如果有溢出自动形成滚动条*/
    -webkit-text-size-adjust: 100%;
    /*不想让iPhone横坚屏切换的时候调节文字*/
    -ms-text-size-adjust: 100%;
}

html * { /*所有元素*/
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*去除移动端开发点击事件灰色背景如a标签*/
}

body,html{
    height: 100%;
    width: 100%;
    min-width: 1000px;
}
html{
    overflow-x: hidden;
}
/*统一设置1200px宽度*/
  .all-in{
      width: 1100px;
  }
a,
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    color: #303233;
}

input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500;
}

ol,
ul {
    list-style: none;
}

q:after,
q:before {  /*在<q></q>标签之间的文字两头加上引号*/
    content: '';
}

a{
    text-decoration: none;
}

/*input*/
button {
    border: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;  /*渲染成button的风格*/
    text-transform: none;
    outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;  /*输入框提示语的字体样式*/
}

input::-webkit-inner-spin-button {/*解决input的type="number"在部分手机端会出现一个小按钮*/
    -webkit-appearance: none;/*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
}

input::-webkit-outer-spin-button {/*解决input的type="number"在部分手机端会出现一个小按钮*/
    -webkit-appearance: none;
}

textarea {
    vertical-align: top;
}

button,
input {
    line-height: normal;
}

select {
    margin: 0;
    outline: 0;
}

input.fixAKeyboard:focus,
textarea.fixAndroidKeyboard:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

button,
input[type=button],
input[type=checkbox],
input[type=reset],
input[type=submit],
label {
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input[type=submit] {
    -ms-user-modify: read-plaintext-only;
    -o-user-modify: read-plaintext-only;
    user-modify: read-plaintext-only;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type='search'] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}


/*flex box*/
.flex {
    /* OLD - Android 4.4- */
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: border-box; /*所有元素以border开始计算盒子大小*/
}

.clearfix:after,
.clearfix:before {   /*清除浮动*/
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.my-bullet {
    width: 50px;
    height: 8px;
    display: inline-block;
    background: #333333;
    opacity: 0.2;
    margin-right: 1%;
    margin-bottom: 2%;
}
.my-bullet-active {
    opacity: 1;
    background: #00bebe;
}
.my-bullet2 {
    width: 50px;
    height: 8px;
    display: inline-block;
    background: #333333;
    opacity: 0.2;
    margin-right: 1%;
    margin-bottom: 1%;
}
.my-bullet-active2 {
    opacity: 1;
    background: #00bebe;
}

/*由于iframe，因此单独设置产品详情页响应的宽度*/
/*@media screen and (max-width:1041px){
    !*产品详情页的图片和侧边导航栏缩放*!
    .product-mask .product-mask-con{
        width: 100% !important;
        max-width: 925px!important;
    }
    .details-con-right{
        width: 62%!important;
        float: left;
    }
    .details-con-left {
        float: right;
    }
}

@media screen and (max-width:1024px){
    !*通用宽度*!
    .all-in{
        width: 90% !important;
        min-width: 925px!important;
    }

    !***************底部导航栏*****************!
    .footer .footer-nav{
        width: 90% !important;
        min-width: 925px;
    }
    .footer .footer-nav dl{
        margin-right: 32px!important;
    }
    .footer .footer-nav dd a{
        padding-top: 9px!important;
    }
    .footer .footer-nav .dl-last .dl-top .like p{
        font-size: 14.5px !important;
    }
    .footer .footer-nav .dl-last .dl-bottom li .code h4{
        font-size: 15px!important;
    }
    .footer .footer-nav .dl-last .dl-bottom{
        margin-top: 70px!important;
    }
    .footer .footer-copy-right .footer-copy-right-content{
        width: 90% !important;
        min-width: 925px!important;
    }
    !******************菜单导航适配******************!
    .mainNav{
        height:52px!important;
    }
    .mainNav .mainNav-con .mainNav-left a{
        margin-top: 6px!important;
    }
    .mainNav .mainNav-left a .logo-left img {
        width: 190px!important;
        margin-top: -4px!important;
    }
    .mainNav .mainNav-con .mainNav-left a{
        min-width: 317px!important;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-left p{
        font-size: 12px!important;
        margin-top: -4px!important;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-left .big{
        display: none;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-left .small{
        display: block;
        font-weight: 500;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right .big{
        display: none;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right .small{
        display: block;
        position: relative;
        top:3px;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right .small p {
        font-size: 16.72px;
        text-align: right;
        color: #00bebe;
        font-weight: 400;
        line-height: 10px;
        margin-top: 2px;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right .small p:after {
        position: absolute;
        content: "";
        left: -1px;
        top: -1px;
        width: 15px;
        height: 15px;
        background: url(http://localhost:8020/comment-product/%E6%96%B0%E7%89%88%E5%AE%98%E7%BD%91/images/icon/phone.svg) no-repeat center center / cover;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right .small span{
        display: block;
        color: #00bebe!important;
        font-size: 17.88px!important;
        margin-top: 10px;
        line-height: 16px;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right{
        height: 45px;
    }
    .mainNav .mainNav-con .mainNav-left a .logo-right:after{
        content: "";
        height: 87% !important;
        background: #00bebe!important;
        top: 1px!important;
    }
    .mainNav .mainNav-con .mainNav-right ul{
        height: 52px!important;
    }
    .mainNav .mainNav-con .mainNav-right ul li{
        line-height: 52px!important;
    }
    .mainNav .mainNav-con .mainNav-right .main-phone{
        display: none;
    }
    .dropdown .dropdown-menu{
        width: 90% !important;
        min-width: 925px!important;
    }

    !***************首页适配*****************!
    !*四大应用*!
    .major{
        height: 200px!important;
    }
    !*应用领域*!
    .fleld-con ul li{
        height: auto!important;
    }
    .fleld-con ul li img{
        display: block;
    }
    !*品牌研发*!
    .brand .brand-in .brand-con ul li{
        height: 193px!important;
    }
    !*澳镭简介*!
    .aooled .aooled-in .aooled-con .aooled-con-right p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
    .aooled .aooled-in .aooled-con{
        height: 260px!important;
    }
    .aooled .aooled-in .aooled-bottom ul li p{
        font-size: 12px!important;
    }

    !****************产品中心适配 product.html****************!
    .productSeries .product-con .series-list ul li a .product-mask{
        width: 112px!important;
        height: 112px!important;
    }
    .productSeries .product-con .series-list ul li a .product-mask img{
        height: 112px!important;
    }
    .recommend .recommend-con{
        width: 90% !important;
        min-width: 925px!important;
        height: 347px!important;
    }
    .recommend .recommend-con .recommend-right .recommend-right-middle{
        margin-top: 32px;
    }
    .recommend .recommend-con .recommend-right .recommend-right-middle{
        margin-top: 32px!important;
    }
    .recommend .recommend-con .recommend-right .recommend-right-top h1{
        font-size: 18px!important;
    }
    .recommend .recommend-con .recommend-right .recommend-right-bottom ul li{
        line-height: 31px!important;
    }
    .recommend .recommend-con .recommend-left-other ul li{
        height: 31px!important;
    }
    .recommend .recommend-con .recommend-left-other ul li p{
        line-height: 31px!important;
    }

    !****************产品列表 product-details.html****************!
    .product-details .product-details-con .product-details-list ul li{
        width: 300px!important;
        height: 366.67px!important;
    }
    .product-details .product-details-con .product-details-list ul li a .the-details-top img{
        width: 190px!important;
    }
    .product-details .product-details-con .product-details-list ul li a .the-details-bottom h1{
        font-size: 18px!important;
    }
    .product-details .product-details-con .product-details-list ul li a .the-details-bottom h6{
        font-size: 12px!important;
    }
    .product-details .product-details-con .product-details-list ul li a .the-details-bottom p{
        margin-top: 15px!important;
    }
    !****************应用领域细分适配 application.html****************!
    .application .application-in ul li{
        width: 296px!important;
        height: 222px!important;
    }

    !****************工程案例适配 case.html****************!
    .case .case-in .main-case ul li{
        width: 300px!important;
        height: 300px!important;
        margin-right: 12px!important;
    }
    .case .case-in .main-case ul li:nth-of-type(3n){
        margin-right: 0!important;
    }
    .case .case-in .main-case ul li .main-case-img{
        overflow: unset!important;
    }
    .case .case-in .common-case ul li{
        width: 300px!important;
        height: 330px!important;
        margin-right: 10px!important;
    }
    .case .case-in .common-case ul li:nth-of-type(3n){
        margin-right: 0!important;
    }
    .case .case-in .common-case ul li .common-case-img{
        overflow: unset!important;
    }
    .case .case-in .common-case ul li .common-case-mask{
        height: 240px!important;
        bottom: -190px!important;
    }

    .case .case-in .common-case ul li .common-case-mask .c-title{
        top: 0!important;
    }
    .case .case-in .common-case ul li:hover .common-case-mask{
        bottom: 0!important;
    }

    !****************文章适配 articles.html、main-case-news.html、common-case-news.html ****************!
    .navigation .search1-bar-center{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .news-details .news-details-con .details-list .fixed-left .article-left-fixed{
        display: none!important;
    }

    !****************走进澳镭适配 about.html****************!
    .about-us .about-us-in .about-con .about-services li{
        width: 297px!important;
        height: 243px!important;
    }
    .about-us .about-us-in .about-con .honour li{
        margin-right: 12px!important;
    }
    .about-us .about-us-in .about-con .human-resources li{
        width: 24% !important;
        margin-right: 9px!important;
    }
    .about-us .about-us-in .about-con .human-resources li img{
        width: 134% !important;
    }
    .features-item .features-info .features-info-s{
        line-height: 20px!important;
    }

    !****************新闻中心适配 news.html****************!
    .news .news-con{
        width: 90% !important;
        max-width: 925px!important;
    }
    .news .news-con .news-industry .news-ind-left .news-ind-padding a h1{
        font-size: 15px!important;
    }
    .news .news-con .news-industry .news-ind-left .news-ind-padding{
        padding: 24px 24px 7px 34px!important;
    }
    .news .news-con .news-industry{
        height: 300px!important;
    }
    .news .thematic-topics .thematic-con{
        width: 90% !important;
        max-width: 925px!important;
    }
    .news .thematic-topics .thematic-con .thematic-list{
        height: 340px!important;
    }
    .news .thematic-topics{
        height: 450px!important;
    }

    !****************新闻列表页适配 news-list.html****************!
    .news-list .news-list-con .news-item{
        width:102% !important;
        max-width: 950px!important;
    }
    .news-list .news-list-con .news-item .news-point-content .news-content .news-content-word{
        width: 650px!important;
    }
    .news-list .news-list-con .news-item .news-point-content .news-content .news-content-word a .content-word-top .new-word-top-left{
        width: 100% !important;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

    !****************案例节选适配 case-excerpts.html****************!
    .case-excerpts .case-excerpts-in .excerpts-box li a{
        font-size: 12px!important;
    }

    !****************合作品牌brand.html****************!
    .trademark .trademark-in .trademark-box li{
        width: 225px!important;
        height: 155px!important;
    }
}*/

